{% load static %}
<style>
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }
</style>
<header class="section-header">
  <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTop4"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTop4">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link"> English </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link"> USD </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li>
            <a href="#" class="nav-link">
              <i class="fa fa-envelope"></i> Email
            </a>
          </li>
          <li>
            <a href="#" class="nav-link">
              <i class="fa fa-phone"></i> Call us
            </a>
          </li>
        </ul>
        <!-- list-inline //  -->
      </div>
      <!-- navbar-collapse .// -->
    </div>
    <!-- container //  -->
  </nav>

  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
          <a href="{% url 'home' %}" class="brand-wrap">
            <img class="logo" src="{% static './images/logo.png' %}" />
          </a>
          <!-- brand-wrap.// -->
        </div>
        <div class="col-sm col-sm col-sm col-12 flex-grow-0">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              All Categories
            </button>
            <ul
              class="dropdown-menu"
              role="menu"
              aria-labelledby="dropdownMenu"
            >
              <a class="dropdown-item" href="{% url 'store' %}">All Products</a>
              {% for category in category_links %}
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="{{category.get_url}}"
                  >{{ category.category_name }}</a
                >
                <ul class="dropdown-menu">
                  {% for subcategory in subcategory_links %}
                  <!-- checking category name -->
                  {% if subcategory.category_name == category.category_name %}
                  <li class="dropdown-item">
                    <a href="{{subcategory.get_url}}"
                      >{{subcategory.subcategory_name}}</a
                    >
                  </li>
                  {% endif %} {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </div>

          <!-- category-wrap.// -->
        </div>
        <!-- col.// -->
        <a href="{% url 'store' %}" class="btn btn-outline-primary">Store</a>
        <div class="col-lg col-md-6 col-sm-12 col">
          <form action="#" class="search">
            <div class="input-group w-100">
              <input
                type="text"
                class="form-control"
                style="width: 60%"
                placeholder="Search"
              />

              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- search-wrap .end// -->
        </div>
        <!-- col.// -->
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
          <div class="d-flex justify-content-end mb-3 mb-lg-0">
            <div class="widget-header">
              {% if user.is_authenticated %}
              <small class="title text-muted">{{user.username}}</small>
              <div>
                <a href="../account/logout.html">Logout</a>
              </div>
              <br />
              {% else %}
              <small class="title text-muted">Welcome, guest!</small>
              <div>
                <a href="../account/login.html">Login / Signup</a>
              </div>
              {% endif %}
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
              <div class="icon icon-sm rounded-circle border">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <span class="badge badge-pill badge-danger notify"
                >{{cart_count}}</span
              >
            </a>
            {% else %}
            <a href="../account/login.html" class="widget-header pl-3 ml-3">
              <div class="icon icon-sm rounded-circle border">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <span class="badge badge-pill badge-danger notify"></span>
            </a>
            {% endif %}
          </div>
          <!-- widgets-wrap.// -->
        </div>
      </div>
    </div>
  </section>
</header>
