{% extends 'base.html' %}
<!-- static -->
{% load static %}
<!-- block  -->
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<form action="{% url 'store' %}" method="GET">
  <div class="form-group mx-sm-3 mb-2">
    <select class="form-control" name="sort_by" onchange="this.form.submit()" />
    <option disabled selected>Sort by</option>
    {% if "popularity" in sort_by %}
    <option value="popularity" selected>Popularity</option>
    {% else %}
    <option value="popularity">Popularity</option>
    {% endif %}
    <!-- for average rating -->
    {% if "average_rating" in sort_by %}
    <option value="average_rating" selected>Average rating</option>
    {% else %}
    <option value="average_rating">Average rating</option>
    {% endif %}
    <!-- for Newest Arrivals -->
    {% if "created_date" in sort_by %}
    <option value="created_date" selected>Newest Arrivals</option>
    {% else %}
    <option value="created_date">Newest Arrivals</option>
    {% endif %}

<!-- price low to high -->
    {% if "price" in sort_by %}
    <option value="price" selected>Price: Low to High</option>
    {% else %}
    <option value="price">Price: Low to High</option>
    {% endif %}
    </select>
  </div>
</form>
<section class="section-pagetop bg">
  <div class="container">
    {% if 'search' in request.path %}
    <h2 class="title-page">Search Results</h2>
    {% else %}
    <h2 class="title-page">Our Store</h2>
    {% endif %}
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1">
              <div class="card-body">
                <ul class="list-menu">
                  <li>
                    <a href="{% url 'store' %}">All Products</a>
                  </li>
                  {% for category in category_links %}
                  <!-- - -->
                  <!-- Making the current category selected -->
                  {% if category.category_name in request.path %}
                  <!-- {{category.get_url}} -->
                  <li>
                    <a class="text-success font-weight-bold" href="{{category.get_url}}">{{category.category_name | capfirst}}</a>
                  </li>
                  {% else %}
                  <!-- Showing all category -->
                  <li>
                    <a href="{{category.get_url}}">{{category.category_name | capfirst}}</a>
                  </li>
                  {% endif %}
                  <!-- - -->
                  {% endfor %}
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a href="" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <!-- Displaying the Categories -->
                {% for category in category_links %}
                <!-- -  -->
                {% if category.category_name in request.path %}
                <h6 class="title">{{ category.category_name | capfirst }}</h6>
                {% endif %}
                <!-- -  -->
                {% endfor %}
                <!-- Displaying the Categories end -->
                <!-- Displaying the Categories according to the subcategory -->

                {% for subcategory in subcategory_links %}
                <!-- -  -->
                {% if subcategory.subcategory_name in request.path %}
                <h6 class="title">{{ subcategory.category_name | capfirst }}</h6>
                {% endif %}
                <!-- -  -->
                {% endfor %}
                <!-- Displaying the Categories according to the subcategory end -->
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_2">
              <div class="card-body">
                <ul class="list-menu">
                  {% for category in category_links %}
                  <!-- -  -->
                  {% for subcategory in subcategory_links %}
                  <!-- -  -->
                  {% if subcategory.category_name == category.category_name %}
                  <!-- -  -->
                  {% if category.category_name in request.path %}
                  {{subcategory.get_url}}
                  <li>
                    <a href="{{subcategory.get_url}}">{{subcategory.subcategory_name | capfirst }}</a>
                  </li>
                  {% elif subcategory.subcategory_name in request.path %}
                  <li>
                    <a class="text-success font-weight-bold" href="{{subcategory.get_url}}">{{subcategory.subcategory_name | capfirst }}</a>
                  </li>
                  {% endif %}
                  <!-- -  -->
                  {% endif %}

                  <!-- -  -->
                  {% endfor %}
                  <!-- -  -->
                  {% endfor %}
                  <!-- -  -->
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Anime</h6>
                <!-- -  --
                <!-- -  -->
                <!-- Displaying the Categories according to the subcategory end -->
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3">
              <div class="card-body">
                <ul class="list-menu">
                  <form method="get" action="{% url 'filter_by_anime' %}">
                    <fieldset>
                      {% for anime in anime_list %}
                      <!-- - -->
                      {% if anime in request.get_full_path %}
                      <input type="checkbox" name="anime_filter" value="{{anime}}" id="{{anime}}" checked onchange="this.form.submit()" />
                      <label for="{{anime}}">{{ anime | capfirst }}</label>
                      <br />
                      {% else %}
                      <input type="checkbox" name="anime_filter" value="{{anime}}" id="{{anime}}" onchange="this.form.submit()" />
                      <label for="{{anime}}">{{ anime | capfirst }}</label>
                      <br />
                      {% endif %}
                      <!-- - -->
                      {% endfor %}
                      <!-- *Remove onchange if we want apply button -->
                      <!-- <button class="btn btn-primary" type="submit" value="apply">Apply</button> -->
                    </fieldset>
                  </form>
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group  .// -->
          <article class="filter-group">
            <div class="filter-content collapse show" id="collapse_4">
            </div>
          </article>
          <!-- filter-group .// -->
          <!-- ?Price filter for future -->

          <!-- <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Price range</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Min</label>
              
                    <select class="mr-2 form-control">
                      <option value="0">$0</option>
                      <option value="50">$50</option>
                      <option value="100">$100</option>
                      <option value="150">$150</option>
                      <option value="200">$200</option>
                      <option value="500">$500</option>
                      <option value="1000">$1000</option>
                    </select>
                  </div>
                  <div class="form-group text-right col-md-6">
                    <label>Max</label>
                    <select class="mr-2 form-control">
                      <option value="50">$50</option>
                      <option value="100">$100</option>
                      <option value="150">$150</option>
                      <option value="200">$200</option>
                      <option value="500">$500</option>
                      <option value="1000">$1000</option>
                      <option value="2000">$2000+</option>
                    </select>
                  </div>
                </div>
              
                <button class="btn btn-block btn-primary">Apply</button>
              </div>
        
            </div>
          </article> -->
          <!-- ?Price filter for future -->

          <!-- filter-group .// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            {% if products_count == 1 %}
            <span class="mr-md-auto"><b>{{products_count}}</b> item found </span>
            {% else %}
            <span class="mr-md-auto"><b>{{products_count}}</b> items found </span>
            {% endif %}
          </div>
        </header>
        <!-- sect-heading -->

        <div class="row">
          {% if products %}
          <!-- looping through products -->
          {% for product in products %}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <a href="{{product.get_url}}" class="">
                  <img src="{{product.images.url}}" />
                </a>
              </div>
              <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
                  <div class="price-wrap mt-2">
                    <span class="price">&#8377; {{product.price}}</span>
                    {% if product.is_on_sale %}
                    <span class="badge badge-danger">On Sale</span>
                    {% endif %}
                  </div>
                  <!-- price-wrap.// -->
                </div>
                <!-- <a href="#" class="btn btn-block btn-primary">View Product Details</a> -->
              </figcaption>
            </figure>
          </div>
          {% endfor %} {% else %}
          <div>
            <h2 class="text-info">Senpai could not find anything!</h2>
          </div>
          {% endif %}
        </div>
        <!-- row end.// -->

        <nav class="mt-4" aria-label="Page navigation sample">
          {% if products.has_other_pages %}
          <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.previous_page_number}}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            {% endif %}
            <!-- looping in pages -->
            {% for i in products.paginator.page_range %}
            <!-- if condition -->
            {% if products.number == i %}
            <li class="page-item active">
              <span class="page-link">{{i}}</span>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endif %}
            <!-- if ends -->
            {% endfor %}
            <!-- looping in pages ends  -->
            {% if products.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.next_page_number}}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link" href="">Next</span>
            </li>
            {%endif%}
          </ul>
          {% endif %}
        </nav>
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}